<?xml version="1.0" encoding="UTF-8"?>
<!-- Spring配置文件功能
1.导入数据库properties文件以及配置数据源即Mysql
2.事务管理并开启事务注解
3.管理bean（IoC）-->
<beans 
 	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- <context:component-scan base-package="com.yoshopping.model">
	</context:component-scan> -->
	
	<!-- 普通实例配置 -->
    <bean id="user" class="com.yoshopping.model.User" />
    
    <!-- DAO实例配置 -->
    
    
    <!-- DAOImpl实例配置 -->
</beans>