<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--   applicationContext已经配置了数据相关，此文件不需要在配置了？？ -->
<configuration>
    <!-- 设置别名 -->
    <typeAliases>
        <package name="com.yoshopping.mapping" />
    </typeAliases>
    <mappers>
    	<mapper resource="com/yoshopping/mapping/UserMapper.xml"/>
    </mappers>
</configuration>