<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- Mapper重点是参数类型对应？ -->
<mapper namespace="com.yoshopping.mapping.UserMapper">
    <select id="findByUserid" parameterType="Integer"
     resultType="com.yoshopping.model.User">
        SELECT * FROM user_login WHERE user_login_id = #{user_login_id}
    </select>
</mapper>